<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Metadata Microservice</title>

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    
    <style>
        button {color: black; border-radius: 2px;};
    </style>
    <script src="js/file-metadata.js" defer></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 style = "font-size 210%;">File Metadata Microservice</h1>
        <span>
            <form name="filemetadata">
               <input type="file" id="file-input" />
               <!--<input type="submit" value="Upload" />-->
               <button id="change-content" type="button">Change Content</button>
            </form>
            <button id="button-upload">Upload</button>
       </span>
       
        <p><a href="https://github.com/dMcGaa">GitHub</a></p>
       
    </div>
    <div id="demo">
        <h1>The XMLHttpRequest Object</h1>
        <button type="button" onclick="loadDoc()">Change Content</button>
    </div>
</div>
    
</body>
</html>