<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Metadata Microservice</title>

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    
    <style>
        button {color: black; border-radius: 2px;};
    </style>
    <script src="js/file-metadata.js" defer></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 style = "font-size 210%;">File Metadata Microservice</h1>
        <span>
            <form method="post" name="filemetadata">
               <input type="button" id="choose-file" value="Choose File"/>
               <label>Custom file label:</label>
               <input type="text" name="filelabel" size="12" maxlength="32" /><br />
               <input type="submit" value="Upload" />
            </form>
       </span>
       
        <p><a href="https://github.com/dMcGaa">GitHub</a></p>
       
    </div>
</div>
    
</body>
</html>